<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Spotify_logo13.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <!--<a class="navbar-item is-active">
                Recomendations
              </a>-->
          <a class="navbar-item">
            About us
          </a>
          <span class="navbar-item">
            <a class="button is-info is-inverted" href="https://github.com/adriancast/spotify-roulette" target="_blank">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Fork me</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
