
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="/dashboard">Roulette</a>
  <a href="/contributors">Contributors</a>
  <a href="https://github.com/adriancast/spotify-roulette" target="_blank">
    <span class="icon">
      <i class="fa fa-github"></i>
    </span>
    <span>Fork me</span>
  </a>
</div>

<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="/"class="navbar-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Spotify_logo13.png" alt="Logo">
        </a>
        <span (click)="openNav()" class="navbar-burger burger" data-target="navbarMenuHeroB">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
          <a href="/dashboard"class="navbar-item is-active">
                Roulette
          </a>
          <a href="/contributors"class="navbar-item">
            Contributors
          </a>
          <span class="navbar-item">
            <a href="https://github.com/adriancast/spotify-roulette" class="button is-info is-inverted" href="https://github.com/adriancast/spotify-roulette" target="_blank">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Fork me</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
