<div class="card-content">
  <div class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <img src="{{contributor.avatar_url}}" alt="{{contributor.login}}" style="border-radius:50%;">
      </figure>
    </div>
    <div class="media-content">
      <p class="title is-4">Hi! My name is ...</p>
      <p class="subtitle is-6">@{{contributor.login}}</p>
    </div>
  </div>
</div>
<footer class="card-footer">
  <a href="{{contributor.html_url}}" target="_blank" class="card-footer-item">
    <span class="icon">
      <i class="fa fa-github"></i>
    </span>
    Check profile
  </a>
</footer>
