<!--Hero-->
<section class="hero is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Spotify_logo13.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <!--<a class="navbar-item is-active">
                  Recomendations
                </a>-->
            <a class="navbar-item">
              About us
            </a>
            <span class="navbar-item">
              <a href="https://github.com/adriancast/spotify-roulette" class="button is-info is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
                <span>Fork me</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        About the contributors
      </p>
      <p class="subtitle" style="margin-top:30px;">
        <a href="https://github.com/adriancast/spotify-roulette" class="button is-primary is-inverted is-outlined">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          <span>Fork the project</span>
        </a>
      </p>
    </div>
  </div>

</section>
<!--End Hero-->
<!-- Contributors -->
<div class="container">
  <div style="padding-bottom:50px;">
    <div class="columns">
      <div class="column is-4">
        <!-- Card-->
        <div *ngFor="let contributor of contributors; let idx = index" >
          <div  class="card" style="margin-top:50px;" *ngIf="idx % 3 === 0">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="{{contributor.avatar_url}}" alt="{{contributor.login}}" style="border-radius:50%;">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hi! My name is ...</p>
                <p class="subtitle is-6">@{{contributor.login}}</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{contributor.html_url}}" class="card-footer-item">
              <span class="icon">
                  <i class="fa fa-github"></i>
              </span>
              Check profile
            </a>
          </footer>
        </div>
      </div>
        <!-- End placeholder card-->
      </div>


      <div class="column is-4">
        <!-- Card-->
        <div *ngFor="let contributor of contributors; let idx = index" >
          <div  class="card" style="margin-top:50px;" *ngIf="idx % 3 === 1">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="{{contributor.avatar_url}}" alt="{{contributor.login}}" style="border-radius:50%;">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hi! My name is ...</p>
                <p class="subtitle is-6">@{{contributor.login}}</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{contributor.html_url}}" class="card-footer-item">
              <span class="icon">
                  <i class="fa fa-github"></i>
              </span>
              Check profile
            </a>
          </footer>
        </div>
      </div>
        <!-- End placeholder card-->
      </div>


      <div class="column is-4">
        <!-- Card-->
        <div *ngFor="let contributor of contributors; let idx = index" >
          <div class="card" style="margin-top:50px;" *ngIf="idx % 3 === 2">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="{{contributor.avatar_url}}" alt="{{contributor.login}}" style="border-radius:50%;">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Hi! My name is ...</p>
                <p class="subtitle is-6">@{{contributor.login}}</p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{contributor.html_url}}" class="card-footer-item">
              <span class="icon">
                  <i class="fa fa-github"></i>
              </span>
              Check profile
            </a>
          </footer>
        </div>
      </div>
        <!-- End placeholder card-->
      </div>
    </div>

  </div>
</div>
<!-- End Contributors -->

<!-- Footer -->
<section class="hero is-primary is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h2 class="subtitle">
        Made with
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        for the
        <i class="fa fa-globe" aria-hidden="true"></i>
      </h2>
    </div>
  </div>
</section>
