<!--End Hero-->
<section class="hero is-info">
  <header>
    <sr-menu></sr-menu>
  </header>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Discover your next
        <span class="typed"></span> song
      </p>
    </div>
  </div>
  <!--<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Random</a>
          </li>
          <li>
            <a>Top in location</a>
          </li>
          <li>
            <a>Top 10 global</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>-->
</section>
<!--End Hero-->

<!-- App -->
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="{{song.imgUrl}}" alt="{{song.artistList[0].name}}-{{song.name}}">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          {{song.name}}
        </h1>
        <h2 class="subtitle is-4">
          {{song.artistList[0].name}}
        </h2>
        <br>
        <p class="has-text-centered">
          <a href="{{song.playUrl}}" target="Song" class="button is-medium is-info is-outlined">
            Listen on Spotify
          </a>
        </p>
        <p class="has-text-centered">
          -
        </p>
        <p class="has-text-centered">

          <a (click)="getRandomSongFromSpotify()" class="button is-medium is-danger is-outlined">
            Search again !
          </a>

        </p>
      </div>
    </div>
  </div>
</div>
<!-- End App -->

<footer>
  <sr-footer></sr-footer>
</footer>
